.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}
.graph {
  display: inline-block;
  border: 1px solid red;
  padding: 1px;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
