.blockGraphs {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  width: 800px;
  height: 400px;
  position: relative;
    left: 100px;
    top: 50px;
}

.blockGauge{
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  width: 600px;
  height: 400px;
  position: relative;
  left: 1100px;
  bottom: 400px;
}
.graph {
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
  width: 800px;
  height: 400px;
}

.gauge{
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
  width: 600px;
  height: 400px;
}

.blockButton{ 
  text-align: left;
  width: 150px;
  height: 30px;
  position: relative;
  left: 700px;
  bottom: 400px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
}
.graphTytle{
  font-size: 14px;
  /*background-image: linear-gradient(to left, #384e9510, #c31d1d);*/
  color:#0000008a;
  background-clip: text;
  display: flex;
  -webkit-background-clip: text;
  justify-content: center;
  align-items: center
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
